body {
    position: relative;
    width: 1900px;
    height: 4600px;
    background: #354147;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    padding: 0;
}

p {
   margin: 0;
   padding: 0;
}

   
   /*     Header block    */

header {
    position: absolute;
    width: 1760px;
    height: 25px;
    left: 80px;
    top: 64px;
}

.logo-mntn-header {
    position: absolute;
    width: 108px;
    height: 24px;
    left: 0px;
    top: 0px;
}

.logo-mntn-header:hover {
    transform: scale(1.1);
    transition: 0.4s ;
}

.nav-header-ul {
    
}

.list-item-equipment {
    position: absolute;
    width: 90px;
    height: 22px;
    left: 739px;
    top: 2px;

    font-family: 'Gilroy-Bold', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

.list-item-about-us {
    position: absolute;
    width: 80px;
    height: 22px;
    left: 869px;
    top: 2px;
    display: inline-block;

    font-family: 'Gilroy-Bold', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

.list-item-blog {
    position: absolute;
    width: 38px;
    height: 22px;
    left: 984px;
    top: 2px;

    font-family: 'Gilroy-Bold', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

.nav-header-ul a {
    text-decoration: none;
    color: #FFFFFF;
}

.nav-header-ul a:hover {
    color:rgb(236, 183, 69);
}

.nav-header-ul {
    list-style: none;
}

.account-header {
    position: absolute;
    width: 98px;
    height: 24px;
    left: 1662px;
    top: 1px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)),
        drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.account-header:hover {
    transform: scale(1.1);
    transition: 0.4s;
}


/* SOCIAL section */


.social-follow-us {
    position: absolute;
    width: 85px;
    height: 22px;
    left: 53px;
    top: 353px;
    margin: 0;
    padding: 0;
    display: inline-block;
    
    font-family: 'Gilroy-Bold', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;

    transform: rotate(90deg);
}

.social-instagram {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 80px;
    top: 445px;
}

.social-instagram:hover {
    transform: scale(1.3);
    transition: 0.4s;
}

.social-twitter {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 80px;
    top: 498px;
}

.social-twitter:hover {
    transform: scale(1.3);
    transition: 0.4s;
}

/* section first content */

.section-first-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 950px;
    height: 310px;
    left: 500px;
    top: 287px;
}
.rectangle {
    position: absolute;
    width: 72px;
    height: 2px;
    left: 0px;
    top: 10px;

    background: #FBD784;
}

.section-first-content-text1 {
    position: absolute;
    width: 240px;
    height: 22px;
    left: 104px;
    top: 0px;
    margin: 0px;
    padding: 0px;

    font-family: 'Gilroy-Bold', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
   
    letter-spacing: 6px;
    text-transform: uppercase;

    color: #FBD784;
}

.section-first-content-text2 {
    position: static;
    width: 950px;
    height: 200px;
    left: 0px;
    top: 54px;

    font-family: 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: 450;
    font-size: 88px;
    line-height: 100px;

    text-transform: capitalize;

    color: #FFFFFF;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 32px 0px;
}

.first-content-scroll-down {
    position: absolute;
    width: 140px;
    height: 22px;
    left: 0px;
    top: 287px;

    font-family: 'Gilroy-Bold', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    color: #FFFFFF;
    text-decoration: none;
}

a.first-content-scroll-down img {
    position: absolute;
    width: 16px;
    height: 24px;
    left: 110px;
    top: 0px;
}


      /*   MAIN CONTENT   */

.section-main-content {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 0px;

   position: absolute;
   width: 1462px;
   height: 3040px;
   left: 246px;
   top: 1440px;

    border: solid 2px rgb(28, 154, 255);
}


            /* 01 */


.section-main-content-01 {
    position: static;
    width: 1462px;
    height: 720px;
    left: 0px;
    top: 0px;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px 200px 0px;
}

.numeral1 {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 240px;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;

    position: absolute;
    top: 38px;
    left: 0;
    right: 83.58%;
    bottom: 61.39%;

    opacity: 0.1;
}

.smc-block01 {
    position: absolute;
    left: 150px;
    top: 160px;
    bottom: 140 px
}

.smc-line01 {
    width: 72px;
    height: 2px;
    left: 0px;
    top: 10px;

    background: #FBD784;
}

.smc-top01 {
    position: absolute;
    width: 202px;
    height: 22px;
    left: 96px;
    top: 0px;

    font-family: 'Gilroy-Bold',
    sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;

    letter-spacing: 6px;
    text-transform: uppercase;

    color: #FBD784;
}

.smc-head01 {
   position: static;
   width: 555px;
   height: 154px;
   left: 0px;
   top: 49px;
   font-family: 'Times New Roman',
   sans-serif;
   font-style: normal;
   font-weight: 600;
   font-size: 64px;
   line-height: 77px;
   color: #FFFFFF;
   flex: none;
   order: 1;
   align-self: flex-start;
   flex-grow: 0;
   margin: 27px 0px;
}

.smc-text01 {
    position: static;
    width: 632px;
    height: 160px;
    left: 0px;
    top: 230px;

    font-family: 'Gilroy-Bold',
    sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    
    color: #FFFFFF;

    flex: none;
    order: 2;
    align-self: center;
    flex-grow: 0;
    margin: 27px 0px;
}

.smc-more01 {
    font-family: 'Gilroy-Bold',
    sans-serif;
    position: static;
    width: 127px;
    height: 22px;
    left: 0px;
    top: 417px;
    text-decoration: none;
    flex: none;
    order: 3;
    align-self: flex-start;
    flex-grow: 0;
    margin: 27px 0px;
    color: #FBD784;
}

a.smc-more01 img {
    margin-left: 10px;
}

.smc-img01 {
    position: absolute;
    right: 0px;
}

        /*    02    */

.section-main-content-02 {
    position: static;
    width: 1462px;
    height: 720px;
    left: 0px;
    top: 920px;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px 200px 0px;
}

.smc-img02 {
    position: absolute;
    left: 0px;
}

.numeral2 {
    position: absolute;
    left: 680px;
    right: 34.68%;
    top: 958px;
    bottom: 61.39%;

    font-family: 'Gilroy-Bold',
    sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 240px;
    line-height: 240px;

    color: #FFFFFF;

    opacity: 0.1;    
}

.smc-block02 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    left: 56.77%;
    right: 0%;
    top: 1061px;
    bottom: 19.44%;
}

.smc-line02 {
    width: 72px;
    height: 2px;
    left: 0px;
    top: 10px;

    background: #FBD784;
}

.smc-top02 {
    position: absolute;
    width: 280px;
    height: 22px;
    left: 96px;
    top: -10px;

    font-family: 'Gilroy-Bold',
    sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;

    letter-spacing: 6px;
    text-transform: uppercase;

    color: #FBD784;
}

.smc-head02 {
    position: absolute;
    width: 555px;
    height: 154px;
    left: 0px;
    top: 0px;

    font-family: 'Times New Roman',
    sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;

    color: #FFFFFF;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 27px 0px;
}

.smc-text02 {
    position: absolute;
    width: 632px;
    height: 160px;
    left: 0px;
    top: 190px;

    font-family: 'Gilroy-Bold',
    sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;

    color: #FFFFFF;

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 27px 0px;
}

.smc-more02 {
    font-family: 'Gilroy-Bold',
    sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #FBD784;
    text-decoration: none;

    position: absolute;
    top: 400px;
}


   /*    03    */
.section-main-content-03 {
    position: absolute;
    width: 1462px;
    height: 720px;
    top: 1840px;
    bottom: 480px;
    margin: 0px 0px 200px 0px;
    /* border: dashed 3px tomato; */
}

.smc-img03 {
    position: absolute;
    right: 0px;
}

.numeral3 {
    font-family: 'Gilroy-Bold',
    sans-serif;
    font-size: 240px;
    line-height: 240px;
    font-weight: bold;
    color: #FFFFFF;

    position: absolute;
    top: 38px;
    left: 0px;
    opacity: 0.1;
}

.smc-block03 {
    position: absolute;
    top: 140px;
    left: 150px;
    width: 632px;
    height: 439px;
}

.smc-line03 {
    position: absolute;
    top: 10px;
    width: 72px;
    height: 2px;
    color: #FBD784;
}

.smc-top03 {
     font-family: 'Gilroy-Bold',
     sans-serif;
     font-size: 18px;
     line-height: 22px;
     font-weight: 800;
     font-style: normal;
     width: 380px;
     color: #FBD784;

     position: absolute;
     left: 90px;
     text-transform: uppercase;
     letter-spacing: 6px;

}

.smc-head03 {
    font-family: 'Times New Roman',
    sans-serif;
    font-size: 64px;
    font-weight: 600;
    font-style: normal;
    line-height: 77px;
    color: #FFFFFF;
    width: 555px;
    height: 155px;

    position: absolute;
    top: 50px;
}

.smc-text03 {
     font-family: 'Gilroy-Bold',
     sans-serif;
     font-size: 18px;
     line-height: 32px;
     font-weight: bold;
     font-style: normal;
     color: #FFFFFF;

     position: absolute;
     top: 230px;
     width: 632px;
}

.smc-more03 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 130px;
    height: 22px;

     font-family: 'Gilroy-Bold',
     sans-serif;
     font-size: 18px;
     font-weight: bold;
     color: #FBD784;

     text-decoration: none;
}